
@{
    ViewData["Title"] = "Fail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main-content">
    <div class="checkout-area section-space-y-axis-100">
        <div class="container">
            <div class="col-lg-12 col-12" style="text-align: center;">
                <img style="max-height: 120px; max-width:120px; display: inline-block" src="/assets/images/close.png" />
                <h2>Đặt hàng không thành công</h2>
            </div>
        </div>
    </div>
</main>

