<main class="main-content">
    <div class="checkout-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <form action="javascript:void(0)">
                        <div class="checkbox-form">
                            <h3>Thông tin người nhận</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Họ và tên</label>
                                        <input placeholder="" type="text">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Địa chỉ</label>
                                        <input placeholder="" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>Email</label>
                                        <input placeholder="" type="email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>Số điện thoại</label>
                                        <input type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="order-notes">
                                <div class="checkout-form-list checkout-form-list-2">
                                    <label>Ghi chú</label>
                                    <textarea id="checkout-mess" cols="30" rows="10" placeholder="Ghi chú tại đây"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="your-order">
                        <h3>Hoá đơn</h3>
                        <div class="your-order-table table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="cart-product-name">Số lượng xe</th>
                                        <th class="cart-product-total">Thành tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cart_item">
                                        <td class="cart-product-name">
                                            Air Blade
                                            <strong class="product-quantity"> x1</strong>
                                        </td>
                                        <td class="cart-product-total"><span class="amount">120.000 VND</span></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr class="order-total">
                                        <th>Tổng hoá đơn</th>
                                        <td><strong><span class="amount">120.000 VND</span></strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="payment-method">
                            <div class="payment-accordion">
                                <div class="row">
                                    <div class="card col-md-6">
                                        <label>
                                            <input type="radio" name="payment" value="paypal"> PayPal
                                        </label>
                                    </div>
                                    <div class="card col-md-6">
                                        <label>
                                            <input type="radio" name="payment" value="vnpay"> VNPay
                                        </label>
                                    </div>                                    
                                </div>
                                <div class="order-button-payment">
                                    <input value="Thanh toán" type="submit">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>