<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" asp-area="Jobber" asp-controller="JobberVehicles" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-shopping-cart"></i>
                    </span>
                    <span class="title">Danh Sách Xe</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="dropdown-toggle" asp-area="Jobber" asp-controller="JobberRentals" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-file"></i>
                    </span>
                    <span class="title">Quản lý Đơn Hàng</span>
                </a>

            </li>
            <li class="nav-item">
                <a class="dropdown-toggle" asp-area="Jobber" asp-controller="JobberRevenue" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-form"></i>
                    </span>
                    <span class="title">Quản lý doanh thu</span>
                </a>

            </li>
        </ul>
    </div>
</div>