<header class="main-header_area position-relative">
    <div class="header-top border-bottom d-none d-md-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6">
                    <div class="header-top-left">
                        <ul class="dropdown-wrap text-matterhorn">
                            <li class="dropdown">
                                <button class="btn btn-link dropdown-toggle ht-btn" type="button" id="languageButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    English
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="languageButton">
                                    <li><a class="dropdown-item" href="#">Tiếng việt</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <button class="btn btn-link dropdown-toggle ht-btn" type="button" id="currencyButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    USD
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="currencyButton">
                                    <li><a class="dropdown-item" href="#">VNĐ</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-6">
                    <div class="header-top-right text-matterhorn">
                        <p class="shipping mb-0">Giao xe tận nơi và nhanh chóng</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="header-middle-wrap">
                        <a href="/" class="header-logo">
                            <img style="width: 133px; height: 63px;" src="~/images/logo.png" alt="Header Logo">
                        </a>
                        <div class="header-search-area d-none d-lg-block">
                            <form action="#" class="header-searchbox">
                                <select class="nice-select select-search-category wide">
                                    <option value="all">Tất cả các hãng</option>
                                    <option value="product-item">Honda</option>
                                    <option value="product-item-2">Yamaha</option>
                                    <option value="product-item-3">Suzuki</option>
                                    <option value="product-item-4">SYM</option>
                                </select>
                                <input class="input-field" type="text" placeholder="Nhập hãng xe">
                                <button class="btn btn-outline-whisper btn-primary-hover" type="submit"><i class="pe-7s-search"></i></button>
                            </form>
                        </div>
                        <div class="header-right">
                            <ul>
                                <li class="dropdown d-none d-md-block">
                                    <button class="btn btn-link dropdown-toggle ht-btn p-0" type="button" id="settingButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="pe-7s-users"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="settingButton">
                                        <li><a class="dropdown-item" href="/tai-khoan-cua-toi.html">Tài khoản của tôi</a></li>
                                        <li><a class="dropdown-item" href="/dang-nhap.html">Đăng nhập</a></li>
                                        <li><a class="dropdown-item" href="/dang-ky.html">Đăng ký</a></li>
                                    </ul>
                                </li>
                                <li class="d-none d-md-block">
                                    <a href="wishlist.html">
                                        <i class="pe-7s-like"></i>
                                    </a>
                                </li>
                                <li class="d-block d-lg-none">
                                    <a href="#searchBar" class="search-btn toolbar-btn">
                                        <i class="pe-7s-search"></i>
                                    </a>
                                </li>
                                <li class="minicart-wrap me-3 me-lg-0">
                                    <a href="#miniCart" class="minicart-btn toolbar-btn">
                                        <i class="pe-7s-shopbag"></i>
                                        <span class="quantity">1</span>
                                    </a>
                                </li>
                                <li class="mobile-menu_wrap d-block d-lg-none">
                                    <a href="#mobileMenu" class="mobile-menu_btn toolbar-btn pl-0">
                                        <i class="pe-7s-menu"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-header header-sticky" data-bg-color="#5a8561">
        <div class="container">
            <div class="main-header_nav position-relative">
                <div class="row align-items-center">
                    <div class="col-lg-16 d-none d-lg-block">
                        <div class="main-menu">
                            <nav class="main-nav">
                                <ul>
                                    <li class="drop-holder">
                                        <a href="/">Trang Chủ</a>
                                    </li>
                                    <li>
                                        <a href="/shop.html">Chọn xe</a>
                                    </li>
                                    <li>
                                        <a href="/page/huong-dan-mua-hang">Hướng dẫn mua hàng</a>
                                    </li>
                                    <li>
                                        <a href="/lien-he.html">Liên Hệ</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-menu_wrapper" id="mobileMenu">
        <div class="harmic-offcanvas-body">
            <div class="inner-body">
                <div class="harmic-offcanvas-top">
                    <a href="#" class="button-close"><i class="pe-7s-close"></i></a>
                </div>
                <div class="offcanvas-user-info text-center px-6 pb-5">
                    <div class=" text-silver">
                        <p class="shipping mb-0">Giao xe tận nơi và nhanh chóng</p>
                    </div>
                    <ul class="dropdown-wrap justify-content-center text-silver">
                        <li class="dropdown dropup">
                            <button class="btn btn-link dropdown-toggle ht-btn" type="button" id="languageButtonTwo" data-bs-toggle="dropdown" aria-expanded="false">
                                English
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="languageButtonTwo">
                                <li><a class="dropdown-item" href="#">Tiếng việt</a></li>
                            </ul>
                        </li>
                        <li class="dropdown dropup">
                            <button class="btn btn-link dropdown-toggle ht-btn usd-dropdown" type="button" id="currencyButtonTwo" data-bs-toggle="dropdown" aria-expanded="false">
                                USD
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="currencyButtonTwo">
                                <li><a class="dropdown-item" href="#">VNĐ</a></li>
                            </ul>
                        </li>
                        <li class="dropdown dropup">
                            <button class="btn btn-link dropdown-toggle ht-btn p-0" type="button" id="settingButtonTwo" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="pe-7s-users"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="settingButtonTwo">
                                <li><a class="dropdown-item" href="/tai-khoan-cua-toi.html">Tài khoản của tôi</a></li>
                                <li><a class="dropdown-item" href="/dang-nhap.html">Đăng nhập</a></li>
                                <li><a class="dropdown-item" href="/dang-ky.html">Đăng ký</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="wishlist.html">
                                <i class="pe-7s-like"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="offcanvas-menu_area">
                    <nav class="offcanvas-navigation">
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children">
                                <a href="/">Trang Chủ</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="/shop.html">Chọn xe</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas-search_wrapper" id="searchBar">
        <div class="harmic-offcanvas-body">
            <div class="container h-100">
                <div class="offcanvas-search">
                    <div class="harmic-offcanvas-top">
                        <a href="#" class="button-close"><i class="pe-7s-close"></i></a>
                    </div>
                    <span class="searchbox-info">Tìm kiếm</span>
                    <form action="#" class="hm-searchbox">
                        <input type="text" placeholder="Search">
                        <button class="search-btn" type="submit"><i class="pe-7s-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas-minicart_wrapper" id="miniCart">
        <div class="harmic-offcanvas-body">
            <div class="minicart-content">
                <div class="minicart-heading">
                    <h4 class="mb-0">Giỏ hàng</h4>
                    <a href="#" class="button-close"><i class="pe-7s-close"></i></a>
                </div>
                <ul class="minicart-list">
                    <li class="minicart-product">
                        <a class="product-item_remove" href="#">
                            <i class="pe-7s-close"></i>
                        </a>
                        <a href="shop.html" class="product-item_img">
                            <img class="img-full" src="~/images/vehicles/air-blade.png" alt="">
                        </a>
                        <div class="product-item_content">
                            <a class="product-item_title" href="shop.html">Air Blade</a>
                            <span class="product-item_quantity">1 x 120.000 VNĐ</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="minicart-item_total">
                <span>Tổng tiền</span>
                <span class="ammount">120.000 VNĐ</span>
            </div>
            <div class="group-btn_wrap d-grid gap-2">
                <a href="cart.html" class="btn btn-secondary btn-primary-hover">Chỉnh sửa giỏ hàng</a>
                <a href="checkout.html" class="btn btn-secondary btn-primary-hover">Thann toán</a>
            </div>
        </div>
    </div>
    <div class="global-overlay"></div>
</header>