<!DOCTYPE html>
<html lang="zxx">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"]</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon.ico" />

    <!-- CSS
    ============================================ -->
    <!-- Vendor CSS (Contain Bootstrap, Icon Fonts) -->
    <link rel="stylesheet" href="~/assets/css/vendor/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assets/css/vendor/Pe-icon-7-stroke.css" />

    <!-- Plugin CSS (Global Plugins Files) -->
    <link rel="stylesheet" href="~/assets/css/plugins/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/jquery-ui.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/nice-select.css">
    <link rel="stylesheet" href="~/assets/css/plugins/magnific-popup.min.css" />

    <!-- Style CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">

</head>

<body>

    <div class="main-wrapper">

        <!-- Begin Main Header Area -->
        @await Html.PartialAsync("_HeaderPartialView.cshtml")
        <!-- Main Header Area End Here -->
        @RenderBody()


        <!-- Begin Footer Area -->
        @await Html.PartialAsync("_FooterPartialView.cshtml")
        <!-- Footer Area End Here -->
        <!-- Begin Scroll To Top -->
        <a class="scroll-to-top" href="">
            <i class="fa fa-chevron-up"></i>
        </a>
        <!-- Scroll To Top End Here -->

    </div>

    <!-- Global Vendor, plugins JS -->
    <!-- JS Files
    ============================================ -->
    <!-- Global Vendor, plugins JS -->
    <!-- Vendor JS -->
    <script src="~/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="~/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="~/assets/js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="~/assets/js/vendor/jquery.waypoints.js"></script>

    <!--Plugins JS-->
    <script src="~/assets/js/plugins/wow.min.js"></script>
    <script src="~/assets/js/plugins/jquery-ui.min.js"></script>
    <script src="~/assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="~/assets/js/plugins/jquery.nice-select.js"></script>
    <script src="~/assets/js/plugins/parallax.min.js"></script>
    <script src="~/assets/js/plugins/jquery.magnific-popup.min.js"></script>

    <!--Main JS (Common Activation Codes)-->
    <script src="~/assets/js/main.js"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("Styles", required: false)
</body>

</html>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        var selectElement = $('.input-select');

        var defaultOption = $('<option>', {
            value: '0',
            text: 'Chọn để lọc'
        });

        var selectAllOption = $('<option>', {
            value: 'all',
            text: 'Chọn tất cả'
        });

        selectElement.append(defaultOption);
        selectElement.append(selectAllOption);

        $.ajax({
            url: '/Home/GetBrands',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                data.forEach(function (brandItem) {
                    var brand = brandItem.brand;
                    var option = $('<option>', {
                        value: brand.BrandId,
                        text: brand.BrandName
                    });
                    selectElement.append(option);
                });
            },
            error: function () {
                console.error('Không thể lấy danh sách từ máy chủ.');
            }
        });
    });

    $(document).ready(function () {
        var selectElement = $('#categorySelect'); // Sử dụng ID của thẻ select

        // Lắng nghe sự kiện thay đổi của thẻ select
        selectElement.on('change', function () {
            var selectedCategoryId = $(this).val(); // Lấy giá trị được chọn

            if (selectedCategoryId !== '0' && selectedCategoryId !== 'all') { // Kiểm tra nếu đã chọn một danh mục khác "All Categories"
                // Chuyển hướng đến trang sản phẩm cụ thể dựa trên CategoryId
                var url = '/Vehicles/List/' + selectedCategoryId;
                window.location.href = url;
            }
            if (selectedCategoryId == 'all') {
                var url = '/shop.html';
                window.location.href = url;
            }
        });
        selectElement.append(defaultOption);
    });

    $(document).ready(function () {
        // Sử dụng sự kiện khi nút tìm kiếm được nhấn
        $(".search-btn").click(function (event) {
            event.preventDefault(); // Ngăn chặn việc gửi form mặc định

            var strkeyword = $('#keyword').val();

            // Thực hiện AJAX request
            $.ajax({
                url: '/SearchProduct/SearchingProduct',
                type: 'GET', // Sử dụng phương thức GET
                data: { keyword: strkeyword }, // Gửi từ khóa tìm kiếm
                success: function (results) {
                    window.location.href = '/SearchProduct/SearchingProduct?keyword=' + strkeyword;
                },
                error: function (xhr, status, error) {
                    console.log(error); // Log lỗi nếu có
                }
            });
        });
    });
</script>