<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>

    <!-- Message -->

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/adminassets/images/logo/favicon.png">

    <!-- page css -->
    <link href="~/adminassets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">

    <!-- Core css -->
    <link href="~/adminassets/css/app.min.css" rel="stylesheet">
    @await RenderSectionAsync("Styles", required:false)

</head>

<body>
    <div class="app">
        <div class="layout">
            <!-- Header START -->
            <div class="header">
                <div class="logo logo-dark">
                    <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                        <img style="width: 133px; height: 63px;" src="~/images/logo.png" alt="Header Logo">
                    </a>
                </div>
                <div class="logo logo-white">
                    <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                        <img style="width: 133px; height: 63px;" src="~/images/logo.png" alt="Header Logo">
                    </a>
                </div>
                <div class="nav-wrap">
                    <ul class="nav-left">
                        <li class="desktop-toggle">
                            <a href="javascript:void(0);">
                                <i class="anticon"></i>
                            </a>
                        </li>
                        <li class="mobile-toggle">
                            <a href="javascript:void(0);">
                                <i class="anticon"></i>
                            </a>
                        </li>

                    </ul>


                </div>
                <div class="d-flex align-items-center">
                    <div>
                        <i class="anticon opacity-04 font-size-16 anticon-logout"></i>
                        <span class="m-l-10">Logout</span>
                    </div>
                    <i class="anticon font-size-10"></i>
                </div>
            </div>
            <!-- Header END -->
            <!-- Side Nav START -->
            @await Html.PartialAsync("_SideNavPartialView.cshtml")
            <!-- Side Nav END -->
            <!-- Page Container START -->
            <div class="page-container">

                <!-- Content Wrapper START -->
                <div class="main-content">
                    @RenderBody()
                </div>
                <!-- Content Wrapper END -->
                <!-- Footer START -->
                <footer class="footer">
                    <div class="footer-content">
                        <p class="m-b-0">Copyright © 2019 Theme_Nate. All rights reserved.</p>
                        <span>
                            <a href="" class="text-gray m-r-15">Term &amp; Conditions</a>
                            <a href="" class="text-gray">Privacy &amp; Policy</a>
                        </span>
                    </div>
                </footer>
                <!-- Footer END -->

            </div>
            <!-- Page Container END -->

        </div>
    </div>


    <!-- Core Vendors JS -->
    <script src="~/adminassets/js/vendors.min.js"></script>

    <!-- page js -->
    <script src="~/adminassets/vendors/chartjs/Chart.min.js"></script>
    <script src="~/adminassets/js/pages/dashboard-e-commerce.js"></script>

    <!-- Core JS -->
    <script src="~/adminassets/js/app.min.js"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>